body {
    padding: 0%;
    margin: 0;
}
.banner {
    background-color: var(--primary-color);
    color: var(--neutral-color);
    width: 100%;
    height: 1.5rem;
    position: sticky;
    top: 0;
    left: 0;
    padding: .5rem 0;
    margin: 0;
    text-align: center;
    font-size: 0.8rem;
    align-content: center;
    font-family: var(--text);
    /* font-weight: 200; */
    z-index: 900;
}
.scrollbar {
    margin: 0%;
}